@font-face {
    font-family: 'Bebas Neue';
    src: url("../font/BebasNeue.otf") format("opentype");
    font-style: normal;
}

html {
  font-family: 'Bebas Neue';
}

body {
  background-color: #000000;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

canvas {
  border:none;
}
